body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    width: 50em;
    border: 2px solid blue;
    margin: 1em auto;
    padding: 1em;
}

h1 {
    color:red;
}

strong{
    color: red;
}

.lennon em {
    color: blue;
}
